# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editor & IDE Files
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Burp Suite Temporary Files
# =========================
*.burp.bak
*.tmp

# =========================
# Archives
# =========================
*.zip
*.7z
*.rar
